body {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	color: #776E65;
}
h1 {
	font-size: 55px;
	font-weight: bold;
	margin: 0px;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
table {
	border-spacing: 13px;
	border-collapse: separate;
	width: 500px;
	height: 500px;
	table-layout: fixed;
}
td { 
    height: 106px;
    min-height: 106px;
    
    width: 106px;
    min-width: 106px;
    
    text-align: center;
    vertical-align: middle;
    color: rgb(119, 110, 101);
	font-family: 'Helvetica Neue',Arial,sans-serif;
	font-size: 55px;
	font-weight: bold;
}
#game-frame {
	width: 560px;
	margin: auto;
	background-color: #FAF8EF;
	border-radius: 8px;
}
#game-container {
	width: 500px;
	margin: auto;
}
#top{ }

#sidePanel {
	float: right;
}
#newGameButton {
	text-align: center;
	background-color: #8F7A66;
	color: #FFF;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	width: 100px;
	cursor: pointer;

	/* Turn off text selection to make this feel more like a button */

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#score {
	text-align: center;
	width: 100px;
	background-color: #BBADA0;
	color: #FFF;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px;
}

#description {
	clear: left;
	font-size: 14px;
}


#byline {
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 2px;
}

#game-id {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 2px;
}

#game-won-lost
{
	opacity: 0.5;
	background-color: white;
	width: 500px;
	height: 500px;
}

#game-won-lost-text
{
	font-size: 50pt;
	font-weight: bold;
	text-align: center;
}

#grid {
	background-color: #bbad9f;
	width: 500px;
	height: 500px;
}
